    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">

        <h1  class="logo me-auto"><a routerLink="/index">Lycée El Amal Mégrine</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" #navbar class="navbar order-last order-lg-0">
          <ul>
            <li><a class="onclick" routerLink="/index">Accueil</a></li>
            <li><a routerLink="/teachers" >Enseignants</a></li>
            <li><a routerLink="/events">Evénements</a></li>
            <li><a routerLink="/pricing">Prix</a></li>
            <li><a routerLink="/contact">contact</a></li>
            <li><a routerLink="/about">Qui sommes-nous?</a></li>

        </ul>
        <i #mobileNavToggle class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

        <!--<a class="get-started-btn">Get Started</a>!-->

      </div>
    </header><!-- End Header -->
